.section__insertGanancia{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.ganancia__title{
    padding-bottom: 10px;
}

.formulario__ganancias{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
.label__ganancia{
    color: #006431;
}

.input__ganancia{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: #006431;
    border: 1px solid #006431;
}
.input__ganancia::placeholder{
    color: #006431;
}

.button__insertarGanancia{
    padding: 10px;
    background-color: rgba(54, 162, 235, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button__volverGanancia{
    margin-top: 40px;
    margin-bottom: 30px;
}

.error{
    color: red;
}

.container__body{
    background-color: #FAF9FF;
}
.notificacion__container{
    position: absolute;
    width: max-content;
    right: 20px;
    bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: #aaec8a;
    color: #312e2c;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
    border-radius: 5px;
}

.notificacion__icon{
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notificacion__body{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notifiacion__progress{
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(
        to right,
        #312e2c,
        #aaec8a
    );
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    95% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes progress {
    to{
        transform: scaleX(1);
    }
}



