.table-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.no__clientes{
    text-align: center;
    font-size: 40px;
    font-family: titlePopins;
    color: #006431;
    margin-top: 20px;
}

.h1__allClientes{
    text-align: center;
    font-size: 40px;
    font-family: titlePopins;
    color: #006431;
    padding-bottom: 25px;
}

.table th{
    font-family: titlePopins;
}

.table td{
    font-family: textPopins;

}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}
.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}


.table th, .table td {
    font-size: 16px;
    padding: 20px;
    text-align: center;
    color: #006431;
}

.table thead th{ 
    text-transform: uppercase;
    background-color: #006431;
    color: #ffffff;
}
.td__link{
    color: #006431;
}

/* Diferencia celdas */
.table tbody tr:nth-child(even) {
    background-color: #eaeaea;
}

@media screen and (max-width: 1170px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}


.pagination__container{
    margin-top:30px;
}
    
@media screen and (max-width: 1024px) {
    
}

.button__siguiente,  .button__anterior, .span__numero{
    font-family: textPopins;
}