.calendario__container {
    width: 100%;
    height: 500px;
    z-index: 1;
    font-family: textPopins;
}

.calendario__container .rbc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #006431;
    border-bottom: 1px solid #e0e0e0;
    color: #ffffff;
}

.calendario__container .rbc-event {
    background-color: #006431;
    color: #ffffff;
    border: 1px solid #006431;
}

.calendario__container .rbc-btn-group button {
    background-color: #006431;
    color: #ffffff;
    border: none;
    margin: 0px 1px;
    border: 1px solid #006431;
    border-radius: 5px;
}

.calendario__container .rbc-btn-group button:hover {
    background-color: #004d27;
}

/* boton en medio */
.calendario__container .rbc-btn-group button:nth-child(2) {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}

.calendario__container .rbc-btn-group button:nth-child(2):hover {
    background-color: #e0e0e0;
}

/* boton ultimo */
.calendario__container .rbc-btn-group button:last-child {
    background-color: #000;
    color: #ffffff;
    border: 1px solid #000;
    border-radius: 5px;
}

.calendario__container .rbc-btn-group button:last-child:hover {
    background-color: #000000c1;
}

.calendario__container .rbc-month-view {
    position: relative;
    z-index: 1;
}


.calendario__container .rbc-off-range-bg{
    background-color: #8f8f8f;
}
.calendario__container .rbc-button-link{
    color: #8f8f8f;
}

.h1__calendario{
    text-align: center;
    font-family: titlePopins;
    color: #006431;
    margin-bottom: 20px;
}