.navbar {
    background-color: #006431;
    border-bottom: #006431;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Logo Empresa */
.logo__img {
    max-width: 120px;
    transition: transform 1s ease;
}

.logo__img:hover {
    transform: rotateZ(20deg);
}

/* Texto links */
.nav-link {
    color: #ffffff;
    margin: 0px 20px;
    font-size: 1.2rem;
    transition: transform 1s ease;
    font-family: textPopins;
}

.nav-link:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.nav-link:focus {
    color: #ffffff;
}

/* Lista desplegable personalizada */
.custom-dropdown-menu {
    background-color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 1001;
}

.custom-dropdown-item {
    color: #003f1f;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.custom-dropdown-item:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Mostrar el menú desplegable al pasar el mouse */
.custom-dropdown:hover .custom-dropdown-menu {
    display: block;
    border-radius: 5px;
}

.custom-dropdown-toggle::after {
    display: none;
}

/* Button para iniciar sesion */
.button__login {
    color: #006431;
    border-radius: 25px;
    font-family: textPopins;
}

.button__login:hover {
    color: #006431;
    background-color: #ffffff;
}

/* MENU HAMBURGUESA */
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none !important;
}

.navbar-toggler,
.navbar-toggler-icon {
    outline: none;
    border: none;
}

.menu__desplegable{
    font-family: textPopins;
}

.button__nav {
    background-color: #006431;
    border: none;
    margin: 2px 5px;
}

.navbar-toggler-icon {
    color: #ffffff;
}

.nav__icon {
    color: #ffffff;
    font-size: 2rem;
}

.container__deplebable {
    position: relative;
}

@media screen and (min-width: 992px) {
    .button__nav {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .menu__desplegable {
        position: static !important;
    }
}
