.container__serviciosPage{
    margin-top: 140px;
}
.container__fondo{
    width: 100%;
    position: relative;
}
.img__fondoServicios{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 55%;
    filter: brightness(0.6);
    position: absolute;
    position: relative;
}

.title__pageServicios{
    text-align: center;
    font-family: titlePopins;
    color: #006431;
    text-align: center;
    padding-top: 30px;
}
