.estado__pendiente{
    color: #ffffff;
    border: 1px solid #FFA500;
    border-radius: 5px;
    background-color: #FFA500;
    width: 100px;
    font-family: textPopins;
}

.estado__confirmado{
    color: #ffffff;
    border: 1px solid #008000;
    padding: 5px;
    background-color: #008000;
    width: 120px;
    font-family: textPopins;
}

.button__downloadPdf{
    font-family: textPopins;
}

.button__volver{
    background-color: #006431;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0px;
    text-decoration: none;
    font-size: 1.1rem;
}

