.estado__pendiente{
    color: #FFA500;
    border: 1px solid #FFA500;
    padding: 5px;
    border-radius: 5px;
    background-color: #FFA500;
    margin: 5px 0px;
}

.estado__confirmado{
    color: #008000;
    border: 1px solid #008000;
    padding: 5px;
    border-radius: 5px;
    background-color: #008000;
}