.modal-header, .modal-footer{
    border: none !important;
}

.modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-title{
    color: red;
    font-size: 5rem;
}

.h2__graficaGanancias{
    text-align: center;
    margin-bottom: 30px;
    font-family: titlePopins;
    color: #006431;
    padding: 0px 25px;
}
.button__perdida{
    font-family: textPopins;
}

.modal-dialog{
    font-family: textPopins;
}

.modal-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-secondary{
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(200, 200, 200);
}
.btn-secondary:hover{
    background-color: rgb(150, 150, 150);
    border: 1px solid rgb(150, 150, 150);
}

.btn-danger{
    background-color: red;
    transition: all 0.3s ease-in-out; 
    border: 1px solid red;
}
.btn-danger:hover{
    background-color: rgb(200, 0, 0);
    border: 1px solid rgb(200, 0, 0);
}

.button__insertar--ganancia, .button__insertar--gasto{
    margin: 0px 0px 10px;
}