.container__home{
    background-color: #006431;
}
.section__principal{
    color: #ffffff;
    padding: 20px;
    margin-top: 140px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.article__title{
    width: 50%;
}
.h1__title{
    font-size: 2.5rem;
}
.p__title{
    padding-bottom: 20px;
}
.link__login{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
}
.link__login:hover{
    background-color: #ffffff;
    color: #006431;
}

.img__home{
    width: 430px;
    height: 400px;
    margin: 0px 20px;
    border-radius: 10%;
}

/* Responsive home */
@media screen and (max-width: 1024px){
    .section__principal{
        flex-direction: column;
        margin-top: 140px;
    }
    .article__title{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .img__home{
        width: 300px;
        height: 300px;
        margin: 20px 0px;
    }
}




/* Servicios */
.container__servicios {
    margin: 0px 5px;
}

.article__elegirnos {
    background-color: #006431;
}

.card {
    width: 400px;
    border: none;
    border: 1px solid #003d1d;
    margin: 50px 10px;
    padding: 0px;
}

.card-img-top {
    width: 100%;
    height: 250px;
}

.container__iconos--elegirnos {
    margin: 10px 0px 20px;
}

.text__elegirnos {
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0px 10px;
}

.svg__google {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

.container__reseñas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.title__reseñas {
    margin: 0px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.estrellas__reseñas {
    color: #ffffff;
    border: 1px solid #FDD663;
    padding: 5px 10px;
    margin: 0px 1px;
    background-color: #FDD663;
}

.tarjeta__reseña {
    height: 160px;
}


.brand-list{
    overflow: hidden;
    width: 100%;
}
.wrapper{
    display: grid;
    grid-auto-flow: column;
}

@keyframes scroll {
    to{
        translate: calc(-4 * 15rem);
    }
}

.wrapper{
    animation: scroll 15s linear infinite;
}


