.section__preheader {
    height: 100%;
    width: 100%;
}

.article__h1, .article__text{
    color: #ffffff;
}
.img__taxi{
    width: 100%;
    height: 100%;
}

.section__postheader{
    position: relative;
}
.article__img{
    position: relative;
    z-index: 1;
}
/* FORMULARIO POSTHEADER */
.container__form{
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 55px;
    top: 22%;
    left: 6%;
    z-index: 2;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.h2__form{
    color: #006431;
    font-size: 2.2rem;
    margin: 5px 0px 10px;

}
.form-group{
    width: 100%;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
}
.form__control{
    margin: 5px 0px;
    border: 1px solid #006431;
    color: #006431;
    background-color: #d3d3d3;
    padding: 5px 10px;
    border-radius: 5px;
}
.form__control::placeholder{
    color: #006431;
    border: none;
    outline: none !important;
}
.form__control:hover{
    background-color: #d3d3d3;
    border: 1px solid #006431;
    outline: none !important;
}
.form__control:focus{
    background-color: #d3d3d3;
    border: 1px solid #006431;
    outline: none !important;
}

.boton__form{
    background-color: #006431;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    width: 100%;
    margin: 15px 0px 10px;
}
.boton__form:hover{
    background-color: #003d1d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    width: 100%;
    margin: 15px 0px 10px;
}

.form__pequeño{
    margin: 0px 10px;
}
.form__destino{
    position: relative;
}
.icono__destino{
    position: absolute;
    top: 57%;
    left: 90%;
}

.container__servicios{
    margin: 0px 5px;
}

.img__fondo{
    width: 100%;
    height: 100%;
    margin: 110px 0px 0px;
    position: relative;
}
.article__button{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #003d1d;
    border-radius: 5px;
    padding: 5px 40px;
    background-color: #003d1d;
}

.article__elegirnos{
    background-color: #006431;
}

.card{
    width: 400px;
    border: none;
    border: 1px solid #003d1d;
    margin: 50px 10px;
    padding: 0px;
}
.card-img-top{
    width: 100%;
    height: 250px;
}
.container__iconos--elegirnos{
    margin: 10px 0px 20px;
}
.text__elegirnos{
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0px 10px;
}

.svg__google{
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

.container__reseñas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.title__reseñas{
    margin: 0px 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.estrellas__reseñas{
    color: #ffffff;
    border: 1px solid #FDD663;
    padding: 5px 10px;
    margin: 0px 1px;
    background-color: #FDD663;
}