.section__preheader {
    background-color: #006431;
    height: 100%;
    width: 100%;
}


.article__h1, .article__text{
    color: #ffffff;
}
.img__taxi{
    width: 100%;
    height: 100%;
}

.section__postheader{
    position: relative;
}
.article__img{
    position: relative;
    z-index: 1;
}
/* FORMULARIO POSTHEADER */
.container__form{
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 55px;
    top: 22%;
    left: 65%;
    z-index: 2;
}
.form-group{
    width: 100%;
    margin: 5px 0px;
}
.form-control{
    margin: 5px 0px;
    border: 1px solid #006431;
    color: #006431;
}
.boton__form{
    background-color: #006431;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    width: 100%;
    margin: 15px 0px 10px;
}

.img__fondo{
    width: 100%;
    height: 100%;
    margin: 110px 0px 0px;
    position: relative;
}
.article__button{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #003d1d;
    border-radius: 5px;
    padding: 5px 40px;
    background-color: #003d1d;
}

.article__elegirnos{
    background-color: #006431;
}
.text__elegirnos{
    color: #ffffff;
    font-size: 1.2rem;
}

.container__servicios{

}

.card{
    width: 400px;
    border: none;
    border: 1px solid #003d1d;
    margin: 50px 10px;
    padding: 0px;
}
.card-img-top{
    width: 100%;
    height: 250px;
}