.header{
    color: white;
    background-color: #006431;
    height: 455px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__img {
    width: 60px;
    transition: transform 1s ease;
}

.logo__img:hover {
    transform: rotateZ(20deg);
}

.nav-link{
    color: #ffffff;
    margin: 0px 20px;
    font-size: 1.2rem;
    transition: transform 1s ease;
}
.nav-link:hover{
    color: #ffffff;
    transform: scale(1.1);
}


.article__text{
    margin-left: 50px;
    margin-bottom: 50px;
}
.article__h1{
    color: #ffffff;
}
.button__header{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #004622;
    background-color: #004622;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
.img__coche{
    width: 100%;
}

