.navbar {
    background-color: #006431;
    border-bottom: #006431;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo__img {
    width: 70px;
    transition: transform 1s ease;
}

.logo__img:hover {
    transform: rotateZ(20deg);
}

.nav-link {
    color: #ffffff;
    margin: 0px 20px;
    font-size: 1.2rem;
    transition: transform 1s ease;
}

.nav-link:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.nav-link:focus{
    color: #ffffff;
}
.button__login{
    color: #006431;
}
.button__login:hover{
    color: #006431;
    background-color: #ffffff;
}

/* MENU HAMBURGUESA */
.navbar-toggler{
    border: none;
}
.nav__icon{
    color: #ffffff;
    font-size: 2rem;
}
