.container__crearFactura{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1__crearFactura{
    color: #006431;
}
.container__forms{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 100%;
    margin: 20px 0;
}
.container__inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.container__precio{
    margin-bottom: 10px;
}
.input__crearFactura{
    width: 100%;
    padding: 10px 15px;
    border: none;
    background-color: #cccccc;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
}
.input__crearFactura::placeholder{
    color: #ffffff;
}

.label__crearFactur{
    text-align: left;
    color: #006431;
}

@media screen and (max-width: 500px) {
    .container__forms{
        flex-direction: column;
        gap: 20px;
    }
    
}

.button__pdf{
    background-color: #006431;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #006431;
    margin-top: 15px;
    
}

.button__pdf:hover{
    background-color: #ffffff;
    color: #006431;

}