.form__factura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.button__pdf-wrapper {
    display: inline-block;
}
.button__pdf{
    background-color: #008cff;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0px;
}