.container__dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header__dashboard {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
}

.aside__dashboard {
    background-color: #006431;
    width: 250px;
    padding: 20px;
    height: 100%;
    position: fixed;
}

.main__dashboard{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 100px;
    margin-top: 90px;
}

.outlet__dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}