.container__dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header__dashboard {
    color: #000;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #000;
}

.aside__dashboard {
    background-color: #006431;
    width: 170px;
    padding: 0px 20px;
    height: 100%;
    position: fixed;
}


.outlet__dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aside__dashboard__pequeño{
    position: fixed;
    background-color: #006431;
    width: 100%;
    padding: 0px 20px;
    top: 0;
}

@media screen and (min-width: 300px){
    .aside__dashboard{
        display: none;
    }
    .aside__dashboard__pequeño{
        display: block;
    
    }
}

@media screen and (min-width: 600px){
    .aside__dashboard{
        display: none;
    }
    .aside__dashboard__pequeño{
        display: block;
    }
}

@media screen and (min-width: 768px){
    .aside__dashboard{
        display: none;
    }
    .aside__dashboard__pequeño{
        display: block;
    }
}

@media screen and (min-width: 1024px){
    .aside__dashboard{
        display: block;
    }
    .aside__dashboard__pequeño{
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .aside__dashboard{
        display: block;
    }
    .aside__dashboard__pequeño{
        display: none;
    }
}