.resumen-dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 0px 0px 70px;
}

.section__dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.article__dashboard {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article__dashboard:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.article-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.article-content {
  padding: 20px;
}

@media (max-width: 768px) {
  .resumen-dashboard {
    margin-left: 0;
  }
}
