/* resumen.css */
.section__dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 20px 10px 0px 70px;
    padding: 20px;
    width: 1280px;
    height: 260px;
}

.article__dashboard {
/*     border: 1px solid green; */
    width: 100%;
    margin: 20px;
    padding: 0;
}

.article-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.article-content {
    width: 100%;
    height: 100%;
}