.container__cliente{
    margin-top: 120px;
    text-align: center;
}

.nav-link--user{
    background-color: #ffffff;
    color: #006431;
    border: none;
    border-radius: 5px;
    border: 1px solid #ffffff;
}
.nav-link--user:hover,
.nav-link--user:focus {
    background-color: #ffffff;
    color: #006431;
}